.container a {
    text-decoration: none;
}

.header {
    background: #f0f0f0;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: #28daa5;
}

.banner {
    height: calc(100vh - 67px);
    background-image: url(https://images.unsplash.com/photo-1573126617899-41f1dffb196c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
